<h1>Спасибо за заказ!</h1>

<p><strong>Пожалуйста, дождитесь звонка нашего оператора для уточнения деталей.</strong></p>

<!--
<p>Хотите новые интересные предложения?</p>
<p>Подпишитесь на рассылку.</p>
<p>{ форма подписки }</p>
-->