<% path = to.try(:path) %>

<% if not path.blank? and path.count > 1 %>
  <nav class="breadcrumbs">
    <% path.each_with_index do |category, index| %>
      <% unless index == path.count-1 %>
        <%= link_to category.title, category %> <span class="arr">&rarr;</span>
      <% else %>
        <%= category.title %>
      <% end %>
    <% end %>
  </nav>
<% end %>