<h1><%= @brand.title %></h1>

<div class="brand-about">
  <p><%= image_tag @brand.image(:medium), width: 240 %></p>
  <%= raw @brand.description %>
</div>

<%= render "catalog/products-list" %>



<style>
  .brand-about {
    margin-bottom: 24px;
    }
</style>