<% title "Купить одежду #{@brand.title} не дорого в Москве" %>


<h1><%= @brand.title %></h1>

<% if @brand.image.exists? or not @brand.description.blank? %>
  <div class="brand-about clearfix">
    <% if @brand.image.exists? %>
      <div class="image"><%= image_tag @brand.image(:medium) %></div>
    <% end %>
    <%= raw @brand.description %>
  </div>
<% end %>

<%= render "catalog/products-list" %>



<style>
  .brand-about {
    margin-bottom: 52px;
    }
    .brand-about .image {
      float: right;
      margin: 30px 44px 60px;
      }
      .brand-about .image > img {
        max-width: 240px;
        }
</style>