<% title "#{params[:season_slug].capitalize} одежда не дорого в Москве" %>

<h1 class="big"><%= @title %></h1>

<div class="gender-bnrs clearfix">
  <%= link_to image_tag("for-her-bnr.jpg"), season_path(season_slug: params[:season_slug], gender_slug: :female) %>
  <%= link_to image_tag("for-him-bnr.jpg"), season_path(season_slug: params[:season_slug], gender_slug: :male) %>
</div>



<style>
  .gender-bnrs {}
    .gender-bnrs > a {
      float: left;
      }
    .gender-bnrs > a:first-child {
      margin-right: 10px;
      }
</style>