<% title "Купить #{@category.title.downcase} не дорого в Москве" %>

<h1 class="big"><%= @category.title %></h1>

<div class="root-subs">
  <% @category.children.each do |children| %>
    <div class="item"><%= link_to image_tag(children.image(:medium), alt: children.title), category_path(children, params.permit(:new)) %></div>
  <% end %>
</div>



<style>
  .root-subs {
    text-align: center;
    }
    .root-subs > .item {
      width: 24%;
      margin: .35%;
      display: inline-block;
      overflow: hidden;
      position: relative;
      }
      .root-subs > .item > a {
        display: block;
        transition: transform .5s linear;
        }
      .root-subs > .item > a:before {
        content: "";
        position: absolute;
        left: 0;
        background: #000;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity .5s linear;
        }
      .root-subs > .item > a:hover {
        transform: scale(1.015);
        }
      .root-subs > .item > a:hover:before {
        opacity: .15;
        }
        .root-subs > .item > a > img {
          max-width: 100%;
          }
</style>