<% title "Бренды" %>


<h1>Все бренды</h1>

<div class="brands clearfix">

  <% @brands.each do |brand| %>

    <div class="brand">
      <%= link_to brand, title: brand.title do 
        brand.image.present? ? image_tag(brand.image(:medium), alt: brand.title) : tag(:br) + brand.title
      end %>
    </div>

  <% end %>

</div>


<style>

  .brands {
    display: flex;
    flex-wrap: wrap;
    }
    .brands > .brand {
      width: 20%;
      padding: 2%;
      float: left;
      min-height: 120px;
      text-align: center;
      font-size: 1.2em;
      font-weight: 700;
      }
      .brands > .brand > a {
        color: #333;
        }
      .brands > .brand img {
        position: relative;
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
        }

</style>