<% title "Бренды" %>


<h1>Все бренды</h1>

<div class="brands clearfix">

  <% @brands.each do |brand| %>

    <div class="brand">
      <%= link_to brand, title: brand.title do 
        brand.image.present? ? image_tag(brand.image(:medium), alt: brand.title) : tag(:br) + brand.title
      end %>
    </div>

  <% end %>

</div>
