<h1>Все бренды</h1>

<div class="brands clearfix">

  <% @brands.each do |brand| %>

    <div class="brand">
      <%= link_to image_tag(brand.image(:medium), alt: brand.title), brand, title: brand.title %>
    </div>

  <% end %>

</div>


<style>

  .brands {
    display: flex;
    flex-wrap: wrap;
    }
    .brands > .brand {
      width: 20%;
      padding: 2%;
      float: left;
      }
      .brands > .brand img {
        position: relative;
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
        }

</style>